FinSim/xml/taxes.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE TAXES [
	<!ELEMENT taxes+ (property+)>
	<!ELEMENT property (EMPTY)>
	
	<!ATTLIST income	year_ending	CDATA	#REQUIRED>
	<!ATTLIST income	fit		CDATA	"0">
	<!ATTLIST income	fica	CDATA	"0">
	<!ATTLIST income	med		CDATA	"0">
	<!ATTLIST income	sit		CDATA	"0">
	<!ATTLIST income	sdi		CDATA	"0">
	
	<!ATTLIST property	name	CDATA	#REQUIRED>
	<!ATTLIST property	amount	CDATA	"0">
]>